[Desktop Entry]
Type=Application
Name=Ofono Log
X-Nemo-Application-Type=silica-qt5
Icon=sailfish-log-ofono
Exec=sailfish-log-ofono

[X-HarbourBackup]
BackupConfigList=/apps/sailfish-log-ofono/

[X-Sailjail]
Sandboxing=Disabled
